.task {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.task:last-of-type {
  border-bottom: none;
}

.completed {
  color: red;
  opacity: .5;
}

.taskContent{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-left: 1rem;
}

.taskActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.1rem;
}

.taskButton {
  margin: 0.2rem;
}

.deleteButton {
  border-radius: 50%;
}

.deleteButton:hover {
  background-color: #ed0909bc;
  box-shadow: 1px 2px #666;
  opacity: 0.85;
}

.saveButton:hover {
  background-color: #4aef3486;
  box-shadow: 1px 2px #666;
  opacity: 0.85;

}

.editButton:hover {
  color:white;
  background-color: #4c7394dc;
  box-shadow: 1px 2px #666;
  opacity: 0.85;

}
